@import "tailwindcss";

@theme {
    --color-bg: #050807;        
    --color-surface: #0b1210;   
    --color-primary: #10b981;   
    --color-secondary: #a3e635; 
    --color-text: #ecfdf5;      
    --color-muted: #7f9a8e;     
}

html{
    scroll-behavior: smooth;
}

/* good looking  */
/* @theme {
    --color-bg: #0b1210	;        
    --color-surface: #0b1210;   
    --color-primary: #12201c	;   
    --color-secondary: #34d399	; 
    --color-text: #e6f4ef;      
    --color-muted: #7f9a8e;     
} */

	



